Repository leosuncin/mui-next-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, xo --fix

ci(github): Remove steps related to publish code coverage
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
Due: none

ci(github): run eslint and type check in the same job
  .github/workflows/unit-test.yml
Due: none

feat: remove faker from dependencies
  __tests__/components/todo/filter-todo.spec.tsx
  __tests__/components/todo/list-todo.spec.tsx
  __tests__/components/todo/todo.spec.tsx
  __tests__/libs/middleware/with-authentication.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  __tests__/pages/api/todos.spec.ts
  __tests__/pages/login.spec.tsx
  cypress/component/login-form.test.tsx
  cypress/component/todo.test.tsx
  cypress/integration/api/login.spec.ts
  cypress/integration/api/register.spec.ts
  cypress/integration/api/todos.spec.ts
  cypress/integration/login.spec.ts
  cypress/integration/register.spec.ts
  cypress/integration/todos.spec.ts
  package-lock.json
  package.json
  pages/api/auth/register.ts
  utils/factories.ts
  utils/test-server/handlers/register-handler.ts
Due: prettier --write, xo --fix

fix(test): amend eslint errors
  __tests__/components/form/login.spec.tsx
  __tests__/components/form/register.spec.tsx
  __tests__/components/todo/list-todo.spec.tsx
  __tests__/components/todo/todo.spec.tsx
  __tests__/pages/index.spec.tsx
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
Due: prettier --write, xo --fix

ci(dependabot): update GitHub actions
  .github/dependabot.yml
Due: none

fix(test): use `within` query
  __tests__/components/todo/list-todo.spec.tsx
  __tests__/components/todo/todo.spec.tsx
Due: prettier --write, xo --fix

test(unit): use @mswjs/data as temp db
  package-lock.json
  package.json
  utils/db.ts
  utils/factories.ts
  utils/test-server/handlers/create-todo-handler.ts
  utils/test-server/handlers/delete-todo-handler.ts
  utils/test-server/handlers/list-user-handler.ts
  utils/test-server/handlers/login-handler.ts
  utils/test-server/handlers/register-handler.ts
Due: prettier --write, xo --fix

feat(login): improve accesibility
  __tests__/components/form/login.spec.tsx
  __tests__/pages/login.spec.tsx
  components/forms/login/index.tsx
Due: prettier --write, xo --fix

feat(register): improve accesibility
  __tests__/components/form/register.spec.tsx
  __tests__/pages/register.spec.tsx
  components/forms/register/index.tsx
  pages/register.tsx
Due: prettier --write, xo --fix

chore(deps): update @hookform/resolvers
  package-lock.json
  package.json
Due: prettier --write

fix: Upgrade forms to use react-hook-form v7
  components/forms/login/index.tsx
  components/forms/register/index.tsx
  components/todo/add-todo.tsx
Due: prettier --write, xo --fix

fix(dev-deps): amend vulnerabilities
  package-lock.json
Due: prettier --write

chore(eslint): Use next.js config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: amend eslint errors
  __tests__/libs/middleware/with-authentication.spec.ts
  components/forms/login/index.tsx
  components/forms/register/index.tsx
  components/todo/todo-item.tsx
  cypress/support/commands.ts
  libs/db/index.ts
  libs/middleware/with-authentication.ts
  libs/request.ts
  machines/login-test-machine.ts
  machines/register-test-machine.ts
  next-env.d.ts
  pages/api/todos/[id].ts
  pages/api/todos/index.ts
  pages/index.tsx
  types/todo.ts
  types/user.ts
  utils/factories.ts
  utils/test-server/handlers/create-todo-handler.ts
Due: prettier --write, xo --fix

style: format with prettier
  __mocks__/crypto.js
  __tests__/hooks/use-todo.spec.ts
  components/header.tsx
  components/layout.tsx
  cypress/component/todo.test.tsx
  cypress/plugins/jwt-task.ts
  cypress/schemas/user.schema.ts
  libs/db/todos.ts
  libs/db/users.ts
  libs/middleware/validate-body.ts
  libs/middleware/validate-method.ts
Due: prettier --write, xo --fix

fix: eslint warnings
  __tests__/components/form/register.spec.tsx
  __tests__/components/hoc/with-authentication.spec.tsx
  __tests__/hooks/use-todo.spec.ts
  __tests__/libs/api-client/login.spec.ts
  __tests__/libs/middleware/with-authentication.spec.ts
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  components/hoc/with-authentication.tsx
  cypress/plugins/jwt-task.ts
  hooks/auth-context.tsx
  hooks/user-context.tsx
  libs/api-client/list-todo.ts
  libs/api-client/list-user.ts
  libs/api-client/logout.ts
  pages/_document.tsx
  pages/index.tsx
  pages/login.tsx
  pages/register.tsx
  utils/test-server/handlers/login-handler.ts
  utils/test-server/handlers/register-handler.ts
Due: prettier --write, xo --fix

ci(github): skip coverage-monitor-action for dependabot's PR
  .github/workflows/unit-test.yml
  components/hoc/with-authentication.tsx
Due: prettier --write, xo --fix

ci(github): Lint PR on pull_request_target event
  .github/workflows/pull_request.yml
  .github/workflows/unit-test.yml
Due: none

build(eslint): fix eslint config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: amend eslint errors
  src/components/cards/user/index.tsx
  src/components/layout.tsx
  src/components/todo/list-todo.tsx
Due: prettier --write, xo --fix

build: fix next.js config
  next-env.d.ts
  next.config.js
Due: prettier --write, xo --fix

chore(package): upgrade dependencies
  package-lock.json
  package.json
  src/machines/login-test-machine.ts
  src/machines/register-test-machine.ts
Due: prettier --write, xo --fix

fix(test): amend next.js internal packages
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
Due: prettier --write, xo --fix

fix: amend type override
  next-env.d.ts
  src/process-env.d.ts
Due: prettier --write, xo --fix

build(next): enable experimental ES Module support
  next.config.js
Due: prettier --write, xo --fix

fix(auth): use the correct coockie method
  src/utils/test-server/handlers/logout-handler.ts
Due: prettier --write, xo --fix

ci(github): remove components job
  .github/workflows/e2e-test.yml
Due: none

ci(dependabot): set pull request limit to 10
  .github/dependabot.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,css})
  xo --fix: any of: *.{js,ts,tsx}
